.gallery__body {
    margin-top: 80px;
    position: relative;
}

.gallery__block {
    margin: 20px 0;
    position: relative;
    display: grid;
    grid-template-columns: 4.2fr 2.47fr 3.33fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
        'gal-1 gal-2 gal-3'
        'gal-4 gal-5 gal-3'
        'gal-4 gal-6 gal-6';

    &::before {
        position: absolute;
        content: '';
        width: 933px;
        height: 863px;
        background-image: url(../img/galtree1.png);
        left: -530px;
        top: -60px;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        width: 891px;
        height: 901px;
        background-image: url(../img/galtree2.png);
        right: -660px;
        top: -160px;
        z-index: -1;
    }

    a {
        width: 100%;
        height: 365px;
        text-decoration: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: $img-radius;
        }
    }
}

.gal-1 {
    grid-area: gal-1;
}

.gal-2 {
    grid-area: gal-2;
}

.gal-3 {
    grid-area: gal-3;
    min-height: 750px;
}

.gal-4 {
    grid-area: gal-4;
    min-height: 932.5px;
}

.gal-5 {
    grid-area: gal-5;
}

.gal-6 {
    grid-area: gal-6;
    min-height: 547.5px;
}

.gallery__link {
    position: absolute;
    top: -120px;
    right: 0;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $text-color;
        left: 0;
        bottom: 0;
        opacity: 1;
        transition: all .3s ease;
    }

    &:hover::before {
        opacity: 0;
    }
}

.gallery__link {
    position: absolute;
    top: -120px;
    right: 0;
}