.header {
    &-front {
        height: 100vh;
        min-height: 720px;
        background-image: url(../img/header-bg.min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    padding-bottom: 60px;

}

.header__inner {
    padding-top: 20px;
    height: 100%;
    position: relative;

    .container {
        height: 100%;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.navbar__logo-link {
    display: flex;
    align-items: center;
}

.navbar__logo-text {
    font-size: $text-size;
    line-height: 1.2em;
    max-width: 160px;
    margin-left: 14px;
}

.navbar__burger {
    display: none;
}

.menu {
    margin: 0 auto;
}

.menu__list-item {
    display: inline-block;

    &+.menu__list-item {
        margin-left: 47px;
    }
}

.menu-item {
    display: inline-block;

    &+.menu-item {
        margin-left: 47px;
    }

    a {
        position: relative;
        transition: color .3s ease;

        &:hover {
            color: $orange;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $orange;
            opacity: 0;
            transition: opacity .3s ease;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}

.menu__item-link {
    position: relative;
    transition: color .3s ease;

    &:hover {
        color: $orange;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $orange;
        opacity: 0;
        transition: opacity .3s ease;
    }

    &:hover::before {
        opacity: 1;
    }
}

.navbar__lang {
    margin-right: 45px;
    display: inline-block;
}

.lang-box {
    background-color: #EBEBEB;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    border-radius: 13.5px;
    position: relative;

    &__current {
        background-color: #EBEBEB;
        position: relative;
        border-radius: 13.5px;
        padding: 2px 15px;
        width: 78px;
        z-index: 5;
    }

    &::after {
        position: absolute;
        content: '';
        width: 9px;
        height: 6px;
        top: 12px;
        right: 12px;
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        z-index: 5;
        transition: all .3s ease;
    }

    &__dropdown {
        position: absolute;
        z-index: 4;
        color: $grey;
        bottom: 0;
        left: 0;
        background-color: #EBEBEB;
        border-radius: 13.5px;
        padding: 2px 15px;
        width: 78px;
        transition: all .3s ease;
    }

    &__dropdown:hover {
        color: $text-color;
    }

    &:hover &__dropdown {
        bottom: -24px;
        border-radius: 0 0 13.5px 13.5px;
        padding: 7px 15px 3px;
    }

    &:hover::after {
        transform: rotate(180deg);
    }
}

.navbar__phone-block {
    padding-left: 40px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../img/phone.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 0;
    }
}

.navbar__phone-link {
    font-weight: 600;
    font-size: $text-size;
    line-height: 1.2em;
}






.navbar__recall {
    padding-left: 10px;

    &-link {
        font-weight: 300;
        font-size: 16px;
        line-height: $text-size;
        color: $grey;
        position: relative;
        transition: all .3s ease;

        &::before {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #00EB09;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            bottom: 2px;
            left: 0;
            background-color: $grey;
            transition: all .3s ease;
        }

        &:hover {
            color: $orange;

        }

        &:hover::after {
            background-color: $orange;
        }
    }
}

.header__content {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;

    &-text {
        margin-top: 25px;
        max-width: 610px;
    }
}

.header__location {
    position: absolute;
    bottom: 12px;
    padding-left: 35px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 20px;
        left: 0;
        top: 0;
        background-image: url(../img/marker.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.header__content-buttons {
    margin-top: 80px;
    display: flex;
}

.header__video-btn {
    margin-left: 27px;
    flex-shrink: 0;
}



.map-hover {
    position: absolute;
    width: 700px;
    height: 500px;
    left: 0;
    bottom: 115%;
    background-color: #F9F9F9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    z-index: 8;
}

.map-hover:before {
    content: "Загрузка карты...";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    color: $orange;
    font-weight: 700;
    z-index: -1;
    text-align: center;
}

.map-hover__wrap:hover .map-hover {
    visibility: visible;
    opacity: 1;
}